@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<FoodAppServer.Models.Admin.OrderViewModel>

@{
    ViewBag.Title = "Orders";
    Layout = "_Layout";
}

<h2 class="text-center">The List of Order</h2>

<div class="card">
    <table class="table" id="data-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Total Cost</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Account.Fullname</td>
                <td>@order.Quantity.ToString("N0")</td>
                <td>@order.TotalCost.ToString("C0",CultureInfo.GetCultureInfo("en-us"))</td>
                <td>@order.CreatedAt</td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="UserDetail" asp-route-userId="@order.Account.Id">User</a>
                    <a class="btn btn-outline-secondary" asp-action="GetOrdersbyUserId" asp-route-userId="@order.Account.Id">Orders</a>
                    <a class="btn btn-outline-dark" asp-action="GetOrderDetails" asp-route-orderId="@order.Id">Detail</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="application/javascript">
          $(document).ready(function () {
                            // $("#toggleDetail").click(showSearchInput);
                            // $("#btn-search").click(RefreshPage);
                            // $("#keyword").change(RefreshPage);
             const dataTable = $('#data-table');
               dataTable.DataTable({
                  // "order": [[ 2, "desc" ]],
                  // "columnDefs": [
                  //     { "visible": false, "targets": [6], "searchable": true }
                  // ],
                stateSave:true ,
                "pageLength": 10,
                    searchPanes:{
                              threshold: 1,
                              layout: "columns-2",
                                 cascadePanes: true, // no to TOP after click
                              viewTotal: true,
                             initCollapsed: true,
                              columns: [0],
                    },
                  buttons: [                 
                          {
                          text: 'Clear',
                          action: function ( ) {
                                    // clear state
                                    let dataTable = $('#data-table');
                                    let resetTable = dataTable.DataTable();
                                    resetTable.state.clear();
                                    // destroy table
                                    resetTable.destroy();
                                   window.location.reload();
                          }
                      }, 
                      'excel'
                      ],
                  dom: "BPflrtip",
              //     footerCallback: function (row, data, start, end, display) {
              //                     let _dataTable = dataTable.DataTable(); 
              //                     let count =  _dataTable.column(1,{search : "applied"}).data().sum(); 
              //                     let quantitySum = _dataTable.column(2,{search : "applied"}).data().sum(); 
              //                     let totalSum = _dataTable.column(3,{search : "applied"}).data().sum(); 
              //         let pageTotal = _dataTable
              //             .column(0, {search : "applied"})
              //             .data().count();
              //     console.log(`Bản ghi: ${pageTotal}: Số lượng: ${quantitySum} - Tổng: ${totalSum}`);
              //     // Update footer
              //     $("#sumInfo").html('Tổng bản ghi: '+numberWithCommas(pageTotal)+ "&emsp;" + 'Số đơn/Số lượng: ' +count+'/'+ numberWithCommas(quantitySum) + ' (' + formatCurrency(totalSum) + ' total)');
              // },
              });
                      
          }); // end document
      </script>
}